;; SPDX-FileCopyrightText: The gumshoe Authors
;; SPDX-License-Identifier: 0BSD

{:paths ["libraries"]
 :tasks
 {test {:doc "Runs all unit tests"
        :extra-paths ["tests" "examples"]
        :requires ([clojure.test :as test]
                   [infra.backups-test]
                   [infra.catalog-test]
                   [infra.ceph-test]
                   [infra.capabilities-test]
                   [infra.command-test]
                   [infra.config-test]
                   [infra.summary-test]
                   [infra.spec-test]
                   [infra.conformance-test]
                   [infra.detectives-test]
                   [infra.discovery-test]
                   [infra.dns-test]
                   [infra.etcd-test]
                   [infra.extensions-test]
                   [infra.effect-test]
                   [infra.federation-test]
                   [infra.firebook-test]
                   [infra.inputs-test]
                   [infra.flow-test]
                   [infra.observability-stack-test]
                   [infra.opennebula-test]
                   [infra.pad-test]
                   [infra.plugins-test]
                   [infra.reproducer-test]
                   [infra.recording-test]
                   [infra.upload-test]
                   [infra.upterm-test]
                   [infra.watch-test]
                   [infra.resources-test]
                   [infra.robustness-test]
                   [infra.grafana-test]
                   [infra.interact-test]
                   [infra.investigation-test]
                   [infra.kubectl-test]
                   [infra.mail-test]
                   [infra.announce-test]
                   [infra.mimirtool-test]
                   [infra.mutation-test]
                   [infra.postgres-test]
                   [infra.progress-test]
                   [infra.prometheus-test]
                   [infra.rbac-test]
                   [infra.secrets-test]
                   [infra.security-test]
                   [infra.shell-test]
                   [infra.signals-test]
                   [infra.stdout-test]
                   [infra.storage-test]
                   [infra.subject-test]
                   [infra.traffic-test]
                   [infra.utils-test]
                   [infra.verify-test])
        :task (let [{:keys [fail error]} (test/run-tests 'infra.backups-test
                                                         'infra.catalog-test
                                                         'infra.ceph-test
                                                         'infra.capabilities-test
                                                         'infra.command-test
                                                         'infra.config-test
                                                         'infra.summary-test
                                                         'infra.spec-test
                                                         'infra.conformance-test
                                                         'infra.detectives-test
                                                         'infra.discovery-test
                                                         'infra.dns-test
                                                         'infra.etcd-test
                                                         'infra.extensions-test
                                                         'infra.effect-test
                                                         'infra.federation-test
                                                         'infra.firebook-test
                                                         'infra.inputs-test
                                                         'infra.flow-test
                                                         'infra.observability-stack-test
                                                         'infra.opennebula-test
                                                         'infra.pad-test
                                                         'infra.plugins-test
                                                         'infra.reproducer-test
                                                         'infra.recording-test
                                                         'infra.upload-test
                                                         'infra.upterm-test
                                                         'infra.watch-test
                                                         'infra.resources-test
                                                         'infra.robustness-test
                                                         'infra.grafana-test
                                                         'infra.interact-test
                                                         'infra.investigation-test
                                                         'infra.kubectl-test
                                                         'infra.mail-test
                                                         'infra.announce-test
                                                         'infra.mimirtool-test
                                                         'infra.mutation-test
                                                         'infra.postgres-test
                                                         'infra.progress-test
                                                         'infra.prometheus-test
                                                         'infra.rbac-test
                                                         'infra.secrets-test
                                                         'infra.security-test
                                                         'infra.shell-test
                                                         'infra.signals-test
                                                         'infra.stdout-test
                                                         'infra.storage-test
                                                         'infra.subject-test
                                                         'infra.traffic-test
                                                         'infra.utils-test
                                                         'infra.verify-test)]
                (when (pos? (+ fail error))
                  (System/exit 1)))}}}
