{
  "dns": {
    "server": "dns.example.org",
    "zone": "example.org"
  },
  "matrix": {
    "domain": "example.org",
    "host": "synapse.example.org"
  },
  "loki": {
    "namespace": "loki"
  }
}
